name: Self-Hosted Runner Workflow

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: self-hosted
    steps:
      - name: Check out code repository
        uses: actions/checkout@v4
      
      - name: Build Docker image
        run: docker build -t hello-world-nginx:v1 .
      
      - name: Run Docker container
        run: |
          docker run -d -p 8080:80 --name test-container hello-world-nginx:v1
          sleep 5
          docker ps
          docker logs test-container
          docker stop test-container
          docker rm test-container

